/*
ETML
Author: bouattitni balmorisa
Date: 18.11.2016
Summary: Le meilleur des CSS
*/
p{
	background-color: #F781F3;
}
#container {
	background-color:#58FA82;
	border-style : solid;
	border-radius: 250%;
}
*{
	background-color:#2ECCFA;
}
headers{
	    height: 200px;
    width: 50%;
	border-style : solid;
}