/*
ETML
Author: bouattitni balmorisa
Date: 18.11.2016
Summary: Le meilleur des CSS
*/
/*les couleurs de base #F781F3 et #58FA82 et #2ECCFA*/
*{
    margin: 0;
    padding:0;
}
body{
    height: auto;
    width: 100%;
    margin:0;
}

#container{
    background-image:url(../images/BackGround01.png);
}


header{
	/*passe l'élement au premier plan*/
	z-index:4;
	/*Verouille la position de l'élement */
    position: fixed;
	
    height: 110px;
    width: 100%;
	
    background-color: #2ECCFA;
	
}

nav{
	/*passe l'élement au second plan */
	z-index:3;
	/*Verouille la position de l'élement */
    position: fixed;
	
    height: 60px;
    width: 100%;
	
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
    background-color: #2ECCFA;
	
	border-radius: 0px 0px 25px 35px;
	box-shadow: 0px 3px 15px 0px rgba(163,163,163,1);

}
	
section{
	overflow:scroll;
	/*passe l'élement au troisième plan */
	z-index: 2;
	
	padding-top:180px;
	
    margin-left: 10%;
    margin-right: 10%;
	
    background-color: aliceblue;
	
    height: 1000px;
	
	opacity: 0.92;
	
	padding-bottom:60px;
}

footer{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0;
    height: 50px;
    background-color: aqua;
}

footer p
{
    text-align: center;
}